<div style="border:1px solid white;">
    <div *ngIf="!question.edit && !question.id">
        <a (click)="startEdit()">Add Question</a>
    </div>
    <div *ngIf="!question.edit && question.id">
        <h2>{{question.name}} <a (click)="startEdit()">(Edit)</a></h2>
        <strong>Type:</strong> {{question.type}}<br/>
        <span *ngIf="question.description">{{question.description}}</span><br/>
        <strong>Read More Link:</strong> {{question.readmore || 'None Set'}}<br/>
        <strong>Discussion Link:</strong> {{question.discussion || 'None Set'}}<br/>
        <div *ngIf="question.type=='office'">
            <strong>Positions open:</strong> {{question.count}}
        </div>
    </div>
    <div *ngIf="question.edit">
        <label>Name:</label> <input type="text" [(ngModel)]="questionChanges.name"/><br/>
        <label>Type:</label> <span *ngIf="question.id">{{question.type}}</span>
        <span *ngIf="!question.id">
            <input type="radio" name="question_type" [(ngModel)]="questionChanges.type" id="office" value="office"><label for="office">Office</label> 
            <input type="radio" name="question_type" [(ngModel)]="questionChanges.type" id="proposition" value="proposition"><label for="proposition">Proposition</label>
        </span><br/>
        <span *ngIf="questionChanges.type=='office'"><label>Positions Open:</label> 
        <select [(ngModel)]="questionChanges.count">
            <option *ngFor="let count of countOptions" [value]="count">{{count}}</option>
        </select></span><br/>
        <label>Description:</label><br/>
        <textarea rows="4" cols="30" [(ngModel)]="questionChanges.description"></textarea><br/>
        <label>Read More Link:</label> <input type="text" [(ngModel)]="questionChanges.readmore"/><br/>
        <label>Discussion Link:</label> <input type="text" [(ngModel)]="questionChanges.discussion"/><br/>
        <button class="btn btn-primary" (click)="save()">Save</button><button class="btn btn-secondary" (click)="question.edit=false">Cancel</button>
    </div>
    <div *ngIf="question.id && question.type=='office'">
        <app-candidates [candidates] = "question.candidates" [ballotId]="ballotId" [questionId]="question.id"></app-candidates>
    </div>
</div>
