<div class="row">
    <div class="col">
        <h1 class="mb-4">
            My Profile
        </h1>
    </div>
    <div class="col">
        <button class="btn btn-secondary">
            <span class="icon-container pencil-svg">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 519.1 517.9"><path d="M464.7 18.6c-24.9-24.9-65-24.9-89.9 0L48.4 345c-1.3.6-1.9 1.9-2.6 3.2-.6 0-.6.6-.6.6-.6.6-.6 1.9-1.3 3.2v.6L.6 493.6c-.6 1.9-.6 3.8-.6 5.7 0 5.1 1.9 9.6 5.7 13.4 5.1 4.5 12.1 6.4 19.1 4.5l141.5-43.4h.6c1.3 0 1.9-.6 3.2-1.3 0-.6.6-.6.6-.6 1.3-.6 1.9-1.3 3.2-2.6l326.4-327c24.9-24.9 24.9-65 0-89.9l-35.6-33.8zM71.4 393.5l52.9 52.9L48.4 470l23-76.5zm265.2-283.1l70.8 70.8L160 428.6l-70.1-70.8 246.7-247.4zm102-65.6L473 79.2c10.2 10.2 10.2 26.1 0 36.3l-38.3 38.3-70.1-70.1 38.3-38.3c9.6-10.2 26.1-10.2 35.7-.6z"/></svg>
            </span>
            Edit Profile 
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4 class="mb-4">Member information</h4>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">First name</p>
            </div>
            <div class="col-md-8">
                <p>user.firstname</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Last name</p>
            </div>
            <div class="col-md-8">
                <p>user.lastname</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Account email</p>
            </div>
            <div class="col-md-8">
                <p>ilovevampires@mindseyesociety.org</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Password</p>
            </div>
            <div class="col-md-8">
                <p>*****</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Birthdate</p>
            </div>
            <div class="col-md-8">
                <p>user.birthdate</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Address</p>
            </div>
            <div class="col-md-8">
                <address>
                    666 Caine Lane<br>
                    Sanguine City, XX 06660<br>
                </address>
            </div>
        </div>
        <button class="btn btn-primary">Save Profile</button>
    </div>
    <div class="col-md-6">
        <h4 class="mb-4">Membership information</h4>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Member number</p>
            </div>
            <div class="col-md-8">
                <p>user.membernumber</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Domain</p>
            </div>
            <div class="col-md-8">
                <p>user.domain</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Region</p>
            </div>
            <div class="col-md-8">
                <p>user.region</p>
            </div>
        </div>
    </div>
</div>