<div class="row">
    <div class="col">
        <h1 class="mb-4">
            My Profile
        </h1>
    </div>
    <div class="col">
        <button class="btn btn-secondary">Edit Profile *pencil icon*</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4 class="mb-4">Member information</h4>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">First name</p>
            </div>
            <div class="col-md-8">
                <p>user.firstname</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Last name</p>
            </div>
            <div class="col-md-8">
                <p>user.lastname</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Account email</p>
            </div>
            <div class="col-md-8">
                <p>ilovevampires@mindseyesociety.org</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Password</p>
            </div>
            <div class="col-md-8">
                <p>*****</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Birthdate</p>
            </div>
            <div class="col-md-8">
                <p>user.birthdate</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Address</p>
            </div>
            <div class="col-md-8">
                <address>
                    666 Caine Lane<br>
                    Sanguine City, XX 06660<br>
                </address>
            </div>
        </div>
        <button class="btn btn-primary">Save Profile</button>
    </div>
    <div class="col-md-6">
        <h4 class="mb-4">Membership information</h4>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Member number</p>
            </div>
            <div class="col-md-8">
                <p>user.membernumber</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Domain</p>
            </div>
            <div class="col-md-8">
                <p>user.domain</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold">Region</p>
            </div>
            <div class="col-md-8">
                <p>user.region</p>
            </div>
        </div>
    </div>
</div>