<div class="container">
    <div class="row">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item" routerLinkActive="active">
            	<a class="nav-link" routerLink="/user/profile">Profile</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
            	<a class="nav-link" routerLink="/user/locations">Locations</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col">
            <h2>User Works!</h2>
            <p class="lead">Welcome, /firstName/</p>
            <p>
              <!--This is the user module! It required that the user be logged in and contain a valid UserToken.-->
            </p>
        </div>
    </div>
</div>