<div class="row">
    <div class="col" *ngIf="session$ | async; let session; else loading">
        <p class="alert alert-success">
            You have been successfully logged in!
        </p>
        <p>
            User Token: {{session.userToken}} <!--{{this?.authService?.userToken}} -->
        </p>

        <!-- This will work as long as the authService is injected into this component. -->
        <button (click)="logout()" type="button" class="btn btn-secondary">Logout</button>
    </div>
</div>
