<div>
Voters:
<ul *ngFor="let voter of voters">
    <app-voter [ballotId]="ballotId" [voter] = "voter"></app-voter>
</ul>
    <div *ngIf="!addVoter.edit">
        <a (click)="add()">Add Voter</a>
    </div>
    <div *ngIf="addVoter.edit">
        <label>
            Membership Number:
            <input type="text" [(ngModel)]="addVoter.membershipNumber">
        </label><br/>OR<br/>
        <label>
            Entire Organization: <app-voter-org-unit (onOrgUnitIdChange)="orgUnitIdChange($event)"></app-voter-org-unit>
        </label><br/>
        <input type="button" (click)="save()" value="Add Voter" />
    </div>
</div>