<ul class="nav nav-tabs">
    <li class="nav-item" routerLinkActive="active">
    	<a class="nav-link" routerLink="/user">User</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
    	<a class="nav-link" routerLink="/ballot">Manage Ballots</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
    	<a class="nav-link" routerLink="/vote">Vote</a>
    </li>
</ul>
<div class="row">
    <div class="sidebar col-sm-2 col-md-2">
        <a routerLink="new" class="btn btn-default">New Ballot</a><br/>
        <div>
            <h4>Current Ballots:</h4>
            <ul class="nav nav-sidebar" *ngIf="ballots">
                <li *ngFor="let ballot of ballots"><a [routerLink]="ballot.id">{{ballot.name}}</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-10 col-md-10 main">
        <router-outlet></router-outlet>
    </div>
</div>
