<div *ngIf="ballot">
    <div *ngIf="ballot.edit">
        Name:<br/>
        <input type="text" [(ngModel)]="ballotChanges.name"><br/>
        <div class="col-sm-12 col-md-5">
        Start:<datepicker [(ngModel)]="ballotChanges.startDate"></datepicker>
        <timepicker [(ngModel)]="ballotChanges.startDate"></timepicker>
        </div>
        <div class="col-sm-12 col-md-5">
        End:<datepicker [(ngModel)]="ballotChanges.endDate" (ngModelChange)="changeEndDate()"></datepicker>
        <timepicker [(ngModel)]="ballotChanges.endDate"></timepicker>
        </div>
        <div class="col-sm-2 col-md-2">
        Timezone:
        <select [(ngModel)]="ballotChanges.timezone">
            <option *ngFor="let timezone of timezones" [value]="timezone.value">{{timezone.name}}</option>
        </select>
        </div>
        <div class="col-sm-12 col-md-12">
        <button class="btn btn-primary" (click)="save()">Save</button><button *ngIf="!ballot.isNew" class="btn btn-secondary" (click)="ballot.edit=false">Cancel</button>
        </div>
    </div>
    <div *ngIf="!ballot.edit">
        <h1>{{ballot.name}}</h1> <button class="btn btn-secondary" (click)="startEdit()">Edit</button>
        <p>{{ballot.startFormatted}} - {{ballot.endFormatted}} {{ballot.timezoneNice}}</p>
    </div>
    
    <app-questions [ballotId]="ballot.id" [questions]="ballot.questions" *ngIf="!ballot.edit"></app-questions>
    
    <app-voters [ballotId]="ballot.id" *ngIf="!ballot.edit"></app-voters>
</div>