<div class="container">
    <div class="row">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item" routerLinkActive="active">
            	<a class="nav-link" routerLink="/ballot/ballot">Manage Ballots</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
            	<a class="nav-link" routerLink="/ballot/vote">Vote</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="sidebar col-sm-2 col-md-2">
    
            <div>
                <h4>Available Votes:</h4>
                <ul class="nav nav-sidebar" *ngIf="votes">
                    <li *ngFor="let vote of votes"><a [routerLink]="vote.id">{{vote.name}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10 col-md-10 main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>