/* You can add global styles to this file, and also import other style files */
// Core variables and mixins
// @import "~bootstrap/scss/custom";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

// // Reset and dependencies
// @import "~bootstrap/scss/normalize";
// @import "~bootstrap/scss/print";

// // Core CSS
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";

// // Components
// @import "~bootstrap/scss/animation";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/tags";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/responsive-embed";
// @import "~bootstrap/scss/close";

// // Components w/ JavaScript
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";

// // Utility classes
// @import "~bootstrap/scss/utilities";

// VARIABLES -- //

$color-primary: #232323;
$lato: 'Lato', sans-serif;

// -- VARIABLES //

.container {
    &.ng-sidebar__content {
        margin-top: 125px;
    }
}

a,
button {
    cursor: pointer;
}

.ng-sidebar{
    background-color: $color-primary !important;
    width: 300px;
}

.nav {
    &__logo {
        margin-right: auto;
        margin-bottom: 40px;
        margin-left: auto;
        width: 175px;
    }
}

.icon-container {
    display: inline-block;
    
    &.search-svg {
        width: 16px;
        height: 16px;
    }
    
    &.pencil-svg {
        width: 13px;
        height: 13px;
        margin-right: 4px;
    }
    
    &.ballot-svg,
    &.userhub-svg {
        vertical-align: middle;
        margin-right: 10px;
    }
    
    &.ballot-svg {
        width: 24px;
        height: 24px;
    }

    &.userhub-svg {
        width: 18px;
        height: 18px;
    }
}

.navbar {
    .nav-link {
        padding: 0em 1em; 
    }
    
    &__offcanvas {
        padding-top: 25px;
        padding-right: 40px;
        padding-left: 40px;
        font-family: $lato;
        
        h5 {
            font-family: $lato;
        }
    }
    
    &--secondbar {
        background-color: #fff;
        top: 54px;
        border-bottom: 1px solid #ccc;
    }

    &--main {
        .icon-container {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 15px;
        }
    
        .navbar-toggle {
            background-color: transparent;
            border: 0;
            cursor: pointer;
            
            &:focus {
                outline: 0;
            }
        }
    }
    
    &__user-info {
        margin-right: 15px;
    }
}

.menu-icon {
    fill: #ffffff;
}

.ng-sidebar__backdrop {
    transform: opacity;
    opacity: .75;
    animation: fade .2s linear;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: .75 }
}

.ballot-icon,
.user-icon {
    fill: #fff;
}

// Close button in offcanvas menu
.close {
    text-shadow: 0;
    
    &:focus {
        outline: 0;
        opacity: .7;
    }
}

.container {
    &__candidates {
        padding-right: 0;
        padding-left: 0;
    }
}